@media (max-width: 768px) {
	span#bars {
		display: block;
	}
	
	span#close {
		margin: 20px 0 0 20px;
		display: block;
		line-height: 0;
	}
	
	span#close i {
		font-size: 35px;
		color: #fff;
		cursor: pointer;
	}
	
	.navigation ul {
		position: absolute;
		top: 0;
		width: 0;
		right: 0;
		height: 100vh;
		background: var(--second-color);
		z-index: 999;
		display: block;
		opacity: 0;
		visibility: hidden;
		
	}

	.navigation ul li a {
		color: #fff;
		clip-path: none;
		font-size: 15px;
		line-height: 40px;
		text-transform: uppercase;
	}

	.navigation ul li a::before, .navigation ul li a.active {
		content: none;
		background: transparent;
		clip-path: none;
	}
	
	.navigation ul li {
		margin-left: 0 !important;
	}
	
	/* END HEADER */
	
	p.banner-content-text {
		font-size: 20px;
		margin-bottom: 0 0 1rem 0;
	}
	
	.sec-title h3 {
		font-size: 33px;
		font-weight: 600;
	}
	
	.grid {
		grid-template-columns: repeat(3,1fr);
	}
	
	.row {
		flex-flow: wrap;
	}
	.col-3 {
		width: 50%;
	}
	.card {
		margin-bottom: 2rem;
	}
	
	.testimonial-content {
		width: 100%;
	}
}

@media (max-width: 767px) and (min-width: 375px) {
	
	.col-7, .col-6 {
		width: 100%;
	}
	
	.col-3 {
		width: 50% !important;
	}
	p.banner-content-text {
		font-size: 14px;
		margin-bottom: 1rem;
	}
	
	p.banner-content-text br {
		display:none;
	}
	
	.sec-title h3 {
		font-size: 25px;
	}
	
	.grid {
		grid-template-columns: repeat(2,1fr) !important;
	}
	
	.book-info h3 {
		font-size: 17px;
	}
	
	.book-info span {
		font-size: 13px;
	}
	
	
	.card-head h4 {
		font-size: 22px;
	}
	
	.card-body h3 a {
		font-size: 18px;
	}
	
	
	.card-body p {
		font-size: 14px;
	}
	
	.card-body #readMoreBtn {
		width: 90px;
		height: 38px;
		line-height: 37px;
		text-transform: capitalize;
		font-size: 11px;
	}
	
	.testimonial-content p {
		font-size: 12px;
	}
	
	.testimonial-content h5 {
		font-size: 18px;
	}
	
	.copy-right p {
		margin-bottom: 1rem;
	}
	
	.foot-icons a {
		width: 30px;
		height: 30px;
	}
	
	.foot-icons a i {
		font-size: 12px;
	}
	
}

@media (max-width: 374px) {
	
	.col-7, .col-3, .col-6 {
		width: 100% !important;
	}
	
	p.banner-content-text {
		font-size: 10px;
		margin-bottom: 1rem;
	}
	
	p.banner-content-text br {
		display:none;
	}
	
	
	.sec-title h3 {
		font-size: 22px;
	}
	
	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
	
	.book-info h3 {
		font-size: 17px;
	}
	
	.book-info span {
		font-size: 13px;
	}
	
	
	.card-head h4 {
		font-size: 22px;
	}
	
	.card-body h3 a {
		font-size: 18px;
	}
	
	
	.card-body p {
		font-size: 14px;
	}
	
	.card-body #readMoreBtn {
		width: 90px;
		height: 38px;
		line-height: 37px;
		text-transform: capitalize;
		font-size: 11px;
	}
	
	.testimonial-content p {
		font-size: 12px;
	}
	
	.testimonial-content h5 {
		font-size: 18px;
	}
	
	.copy-right p {
		margin-bottom: 1rem;
	}
	
	.foot-icons a {
		width: 30px;
		height: 30px;
	}
	
	.foot-icons a i {
		font-size: 12px;
	}
}