@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
*, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
:root {
      --first-color: #333645;
      --first-color-alt: #22252E;
      --second-color: #ffda35;
      --second-color-alt: #00B2FF;
      --title-color: #1B1D21;
      --body-color: #f6f6f6;
      --normal-font: 'Montserrat', sans-serif;
      --bold: 800;
      --regular: 400;
      --semi-bold: 600;
      --fixed-index: 1000;
}

html, body {
      font-family: var(--normal-font);
      font-weight: var(--regular);
      scroll-behavior: smooth;
}

.container {
      max-width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
}

ul {
      list-style: none;
}

a {
      text-decoration: none;
      transition: all .3s linear;
}

.row {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
}

.col-3 {
      width: 25%;
      padding: 0 15px;
      float: left;
}

.col-4 {
      width: 33.33%;
      padding: 0 15px;
      float: left;
}

.col-6 {
      width: 50%;
      padding: 0 15px;
      float: left;
}

.col-7 {
      width: 75%;
      padding: 0 15px;
      float: left;
}

.col-12 {
      width: 100%;
      padding: 0 15px;
      /* float: left; */
}

.mb-2 {
      margin-bottom: 1.5rem;
}
section {
      padding: 5rem 0;
}

/* ! custom css */
#header {
      width: 100%;
      height: 80px;
      line-height: 80px;
      background: var(--first-color);
      
}

.fixed {
      position: fixed;
      top: 0;
      z-index: var(--fixed-index);
      width: 100%;
      background: #fff;
      transition: all .3s linear;
}

.navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;

}

.navigation a.logo {
      text-decoration: none;
      max-width: 50px;
      color: var(--second-color);
      font-weight: var(--bold);
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      align-items: center;
      letter-spacing: 1px;
}
.navigation a i {
      color: #fff;
      font-size: 35px;
      margin-right: 5px;
}

.navigation ul {
      display: flex;
      align-items: center;
      overflow: hidden;
}

.navigation ul li {
      margin-left: 15px;
      /* position: relative; */
      /* z-index: 2; */
}

.navigation ul li a.active {
      background: var(--second-color);
      clip-path: polygon(15% 0, 50% 0, 85% 0, 85% 71%, 50% 100%, 15% 70%);
}

.navigation ul li a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--second-color);
      z-index: -1;
      clip-path: polygon(15% 0, 50% 0, 85% 0, 85% 71%, 50% 100%, 15% 70%);
      transform: translateY(-100%);
      transform-origin: top;
      transition: all .3s linear;
}

.navigation ul li a:hover::before {
      transform: translateY(0);
}

.navigation ul li a {
      color: #fff;
      display: block;
      font-weight: var(--semi-bold);
      padding: 0 20px;
      position: relative;
      z-index: 2;
      clip-path: polygon(15% 0, 50% 0, 85% 0, 85% 71%, 50% 100%, 15% 70%);
}

/* RESPONSIVE MENU ICON */
span#bars {
    font-size: 25px;
    color: #fff;
    float: right;
	display: none;
}

span#bars i {
    font-weight: 300;
	cursor: pointer;
}

span#close {
	display: none;
}

.show {
	width: 75% !important;
	transition: all .3s ease-in-out;
	opacity: 1 !important;
	visibility: visible !important;
}

.closle {
	width: 0;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
}

/* !BANNER */
.banner {
      padding: 0;
}
.banner-img {
      width: 100%;
      height: 85vh;
      position: relative;
}

.banner-img img {
      width: 100%;
      height: 100%;
  }

.banner-content {
      position: absolute;
      left: 0;
      bottom: 0;
      background: var(--second-color);
      width: 100%;
      padding: 2.5rem;
}

p.banner-content-text {
      font-size: 25px;
      color: #f9f9f9;
      text-transform: uppercase;
      font-family: var(--normal-font);
      font-weight: var(--regular);
}

.indicator {
      display: flex;
      align-items: center;
      justify-content: center;
}

.indicator .ind {
      height: 3px;
      background: #fff;
      width: 100%;
      margin: 0 1px;
      cursor: pointer;
}

.indicator .ing2,
.indicator .ing3 {
      background: var(--title-color);
}


/* popular books */

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    padding: 0 15px;
}

.book-img {
      overflow: hidden;
      height: 320px;
}

.book-img img {
      width: 100%;
      height: 100%;
}

.sec-title {
      overflow: hidden;
      margin-bottom: 32px;
}
  
.sec-title h3 {
      font-size: 40px;
      font-weight: var(--regular);
      color: var(--title-color);
      text-transform: uppercase;
}

.book-info {
      overflow: hidden;
      padding: 1rem 0;
}
  
.book-info h3 {
      font-size: 20px;
      margin-bottom: 8px;
      font-weight: 600;
      color: var(--second-color);
      cursor: pointer;
}

.book-info span {
      color: #969696;
      font-size: 14px;
}

/* blog */

section#blog {
      background: #f6f6f6;
  }
  
  .card {
	  padding: 8px;
  }

.card-head {
  margin-bottom: 10px;
  padding: 5px;
}

.card-head h4 {
  text-align: center;
  font-size: 26px;
  color: #333;
  font-weight: 600;
}

.card-icon {
  text-align: center;
}

.card-icon span {
  width: 65px;
  height: 65px;
  background: var(--second-color);
  margin: 15px auto;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 15px;
}

.card-icon span i {
  font-size: 35px;
  color: #fff;
}

.card-body h3 a {
  color: #e8c527;
  font-size: 18px;
  font-weight: 600;
}

.card-body h3 {
  margin-bottom: 10px;
}

.card-body p {
  font-size: 15px;
  margin-bottom: 15px;
  color: #909090;
}
  
.card-body #readMoreBtn {
  width: 110px;
  height: 45px;
  line-height: 38px;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  border: 1px solid var(--first-color);
  color: #fff;
  background: var(--first-color);
  cursor: pointer;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.card-body #readMoreBtn:hover {
	border: 1px solid var(--first-color);
	background: transparent;
	color: var(--title-color);
}

  /* TESTIMONIAL */
.testimonial {
	background: linear-gradient(to right, rgb(0 0 0 / 44%), rgba(0 0 0 / 44%)),url(../image/bg_2.jpg) no-repeat center;
	background-size: cover;
}

.testimonial-content {
  overflow: hidden;
  width: 50%;
  margin: auto;
  padding: 0 20px;
  color: #fff;
  position: relative;
}
  
.testimonial-content p {
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  color: #c7c7c7;
}

.testimonial-content h5 {
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--second-color);
}

.arrow {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 999;
}
.arrow i:nth-child(1) {
	float: left;
}

.arrow i:nth-child(2) {
	float: right;
}

.arrow i {
      cursor: pointer;
      font-size: 25px;
}

/* FOOTER */

.footer {
  background: var(--first-color);
  padding: 1.2rem;
}

.copy-right p {
  color: #848484;
  text-align: center;
  font-size: 14px;
}

.foot-icons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.foot-icons a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffda35;
  display: grid;
  place-items: center;
  margin-left: 8px;
  transition: all .3s ease-in-out;
  border: 1px solid var(--second-color);
}
  
.foot-icons a i {
  color: #fff;
  font-size: 16px;
  display: grid;
  place-items: center;
}

.foot-icons a:hover {
	background: transparent;
	border: 1px solid var(--second-color);
}

